{
    "semi": true,
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "strict"
}
